<main class="favoritos">

    <section class="favoritos-vazio">
        <div class="coracao">♡</div>
        
        <h1>Meus Favoritos</h1>

        <p class="descricao">Produtos que você adicionou aos seus favoritos </p> 

        @if (produtos.lenght === 0) {

            <p class="vazio">Você ainda não possui produtos favoritos </p>

        } else {

            <div class="lista-favoritos"> 
                @for (for produto of produtos; track produto) {

                    <div class="favorito-item">

                        <span> {{ produto }} </span>

                        <button class="btn-remover" (click)="remover(produto)">Remover</button>
                        
                    </div>
                }
            </div>

            <button class="btn-limpar" (click)="linpar()">Limpar</button>
         
        }
        
    </section>
</main>