.favoritos {
  min-height: 70vh;
  padding: 60px 8%;
  background: #fffafa;
  text-align: center;
}

.favoritos h2 {
  margin-bottom: 10px;
  color:#5c3a3a;
  font-family: Georgia, serif;
  font-size: 32px
}

.lista-favoritos {
  max-width: 600px;
  margin-top: 0 auto;
}

.lista-favoritos p {
  background: white;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 10px;
  color : #5c3a3a;
  box-shadow: 0 5px 20px rgba(0,0,0,0.6);
}